.App {
  text-align: center;
  /* background: darkslategrey;
  height:100vh;
  width: 100vw; */
}

.replay-cover{
  height: 100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top:0px;
  filter:blur(5px);
  z-index: 30;
}

.blur{
  filter:blur(5px)
}

.replay-button{
  background-color: lightblue;
}

.confetti-wrapper{
  position:fixed;
  top:0px;
}

.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap:no-wrap;
  width: 800px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;

}

.letter-space{
  border-radius: 3px;
  height: 50px;
  width: 50px;
  padding:5px;
  margin:5px;
  justify-content: center;
  align-items: center;
  border:.5px solid lightgray;
}

.letter-space.gray{
  background-color: gray;
}

.letter-space.yellow{
  background-color: yellow;
}

.letter-space.green{
  background-color: green;
}