.App {
  text-align: center;
}

.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap:no-wrap;
  width: 800px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;

}

.letter-space{
  border-radius: 3px;
  height: 50px;
  width: 50px;
  padding:5px;
  margin:5px;
  justify-content: center;
  align-items: center;
  border:.5px solid black;
}

.letter-space.gray{
  background-color: gray;
}

.letter-space.yellow{
  background-color: yellow;
}

.letter-space.green{
  background-color: green;
}